
*{
    margin: 0;
    padding: 0;
}

#body{
    background-color: black;
}
#gameDiv{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px solid;
    background-image: linear-gradient(rgba(238, 240, 250, 0),rgba(39, 41, 48, 0.516)),url("u13.jpg");
    background-size: cover; 
    background-position: center;
    border-radius: 25px;
    /* padding: 10px; */
    background-color: lightgrey;
    text-align: center;
    height:550px;
    width: 700px;
    padding-top: 9%;
    margin-left: 35%;
    margin-top: 9.5%;
    padding-bottom: 0;
}

.heading{
    padding-bottom: 40px;
}
#playerText{
    color: rgba(255, 255, 255, 0.957);
}
#computerText{
    color: rgb(255, 255, 255, 0.957);
}

.choiceBtn{
    margin-top: 100px;
    padding-top: 4px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    width: 180px;
    margin-right: 5px; 
    font-size: 20px; 
    font-weight: 600;
}

  
  
