.choiceBtn{
    background-color: #D3D9D4;
    border: none;
    color: rgb(0, 0, 0);
    margin-top: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 45px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    width: 144px;
    margin-right: 16px; 
    margin-left: 16px; 
    font-size: 20px; 
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.6s ease;

}


.choiceBtn:hover {
    background-color: #5e75a0f5; /* Darker green on hover */
    color: #ffffff;
}



*{
    margin: 0;
    padding: 0;
}

#body{
    background-color: rgb(255, 0, 0);
}
#gameDiv{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px solid;
    background-image: linear-gradient(rgba(238, 240, 250, 0),rgba(39, 41, 48, 0.516)),url("u13.jpg");
    background-size: cover; 
    background-position: center;
    border-radius: 25px;
    /* padding: 10px; */
    background-color: lightgrey;
    text-align: center;
    height:540px;
    width: 700px;
    padding-top: 9%;
    margin-left: 35%;
    margin-top: 9.5%;
    padding-bottom: 0;
}

.heading{
    padding-bottom: 40px;
}
#playerText{
    color: rgba(255, 255, 255, 0.957);
}
#computerText{
    color: rgb(255, 255, 255, 0.957);
}


/* -------------------footer-------------------------------- */


.footer{
    margin-left: 22%;
}
.container{
    display: flex;
    text-align: center;
    
    width: 70%;
    margin-top:160px;
    justify-content: space-between;
}
.container p{
    color: #ffffff;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container a{
    color: #819fa5;
} 

span{
    color: #819fa5;
}
